.git
.github
.idea
.venv
__pycache__/
*.py[cod]
*.egg-info
.DS_Store
*.log

.env
.env.local
.env.stage
.env.prod
client/node_modules/
client/.angular/
client/coverage/
client/cypress/screenshots/
client/cypress/downloads/
backend/build/
backend/static/resource/tenant_identity/
backend/static/resource/tenant_insurance/
backend/static/resource/tenant_training_certificate/
backend/static/resource/tenant_security_license/
backend/static/resource/tenant_police_clearance/
