<div class="avatar flex items-center">
  <ng-container *ngIf="src; else initials">
    <img [src]="src" alt="Avatar" class="w-10 h-10 rounded-full object-cover border border-gray-200 dark:border-gray-700" />
  </ng-container>
  <ng-template #initials>
    <div class="w-10 h-10 rounded-full bg-gray-300 dark:bg-gray-700 flex items-center justify-center text-lg font-bold text-gray-700 dark:text-gray-200 border border-gray-200 dark:border-gray-700">
      {{ getInitials(name) }}
    </div>
  </ng-template>
</div>
