.dashboard_container {
  margin: 0;
  flex: 1;
  height: auto;
  overflow: hidden;
  background: var(--color-blue-850);
  max-height: 100%;
  z-index: 1;
}

.dashboard_sub-container {
  min-height: 100%;
  padding-bottom: 200px;
  background-image: var(--color-blue-830);
}

.dashboard_content-scroll {
  height: 1vh;
  overflow-y: auto;
  padding: 0 0 100px;
}

.dashboard_content-scroll::-webkit-scrollbar {
  width: 6px;
}

.dashboard_content-scroll::-webkit-scrollbar-thumb {
  background: #5f84a9cc;
  border-radius: 4px;
}

.dashboard_content-scroll::-webkit-scrollbar-thumb:hover {
  background: #5f84a9;
}

.dashboard_body {
  margin: 0;
}

.dashboard_sidebar-main {
  margin-left: 0;
  margin-right: 0;
  height: 100vh;
  overflow: hidden visible;
  min-height: 800px;
  background: var(--color-blue-900);
}

.dashboard_menu-toggle {
  display: none;
}

.dashboard_sidebar {
  width: 300px;
  border-right: 1px solid #ffffff15;
  padding: 0;
  height: 100%;
  overflow: hidden auto;
  background: var(--color-blue-900);
  scrollbar-color: var(--color-blue-880) transparent;
}

.dashboard_sidebar.collapsed {
  width: 70px;
  padding: 24px 10px 24px 7px;
  overflow: hidden;
}

.dashboard_sidebar.collapsed .sidebar-text {
  display: none;
}

@media only screen and (width <=600px) {
  .dashboard_sidebar {
    width: 100vw;
    overflow: hidden;
  }
}

/* Overrides */

.sidebar_container {
  z-index: 3;
}

@media only screen and (width <=460px) {
  .sidebar_container {
    display: none !important;
  }
}
