.bg-blue-500,
.bg-green-500,
.bg-red-500 {
	color: #fff !important;
}

.dark .bg-blue-700 {
	background-color: #3b82f6 !important; /* lighter blue for dark mode */
}
.dark .bg-green-700 {
	background-color: #22d3ee !important; /* lighter green for dark mode */
}
.dark .bg-red-700 {
	background-color: #f87171 !important; /* lighter red for dark mode */
}
.dark .bg-gray-600 {
	background-color: #a3a3a3 !important; /* lighter gray for dark mode */
}
.badge { @apply px-2 py-1 rounded text-xs font-semibold; }