<ng-container>
  <ng-container>
  </ng-container>
  <img alt="background" class="app-background app-background-dark img-fluid w-100 h-100 object-fit-cover"
    src="/assets/images/shared/Bg.webp">
  <div class="welcome-page-wrapper">
    <div class="welcome-page__card">
      <img src="/assets/images/shared/welcom_icon.svg" alt="Tick">
      <div class="welcome-page__card-heading">{{ title }}</div>
      <div class="welcome-page__card-paragraph">{{ description }}</div>
      <button (click)="goHome()">Homepage</button>
    </div>
  </div>
</ng-container>