.login_wrapper {
  position: relative;
}

.login_background {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.07;
  object-fit: contain;
  object-position: top right;
  pointer-events: none;
}

.info-icon-demo{
  margin-top: -2px
}

.twofaextend .login_box {
  width: 700px;
  margin-top: -15vh;
}

.login_container {
  background: var(--color-blue-830);
  height: 100vh;
  position: relative;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 300px;
}

.login_container .twofa-center {
  text-align: center;
  margin-bottom: 16px;
}

.login_box {
  background: linear-gradient(90deg, rgb(21 52 84 / 50%) 0%, rgb(22 56 88 / 50%) 100%);
  padding: 42px 32px;
  border-radius: 16px;
  border: 1px solid #ffffff15;
  width: 420px;
  margin-top: -30vh;
}

.login-error-message {
  color: #fc0;
  text-align: left;
  margin-top: -24px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.login_header {
  display: flex;
  justify-content: left;
  margin-bottom: 40px;
}

.login_error-message {
  color: #fc0;
  text-align: center;
}

.login_form-group {
  display: grid;
}

.login_input {
  border: none;
  border-radius: 8px;
  background: #fff url('/assets/images/shared/lock.svg') no-repeat calc(100% - 10px) center;
  background-size: 20px 20px;
  padding: 12px 40px 12px 20px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.login_input::placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #aaa;
}

.login_input-username {
  background: #fff url('/assets/images/shared/profile.svg') no-repeat calc(100% - 10px) center;
  background-size: 20px 20px;
  margin-bottom: 24px;
}

.login_input:focus {
  border: none;
  outline: none;
}

.login_btn-submit,
.login_btn-disabled {
  display: table;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(92.32deg, #4EA2F1 2.58%, #2C7AC5 66.77%, #1E6CB7 130.97%);
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 36px;
  width: 100%;
  filter: brightness(100%);
  transition: all 300ms ease;
}

.login_btn-submit:hover {
  filter: brightness(88%);
}

.login_btn-disabled {
  opacity: 0.5;
}

.login_footer {
  position: fixed;
  bottom: 0;
  background: var(--color-blue-610);
  height: 48px;
  width: 100%;
}

.login_hidden-label {
  display: none;
}

.login-container__forgot {
  color: #A0B8D1;
  font-weight: 400;
}

.login-page-container {
  display: flex;
  height: 100vh;
  min-height: 750px;
  font-family: Roboto, sans-serif;
}

.login-form-side {
  min-width: 500px;
  background-color: #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch
}


.header-links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.header-link {
  color: #a0b8d1;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}

.center-content-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  flex-grow: 1;
}

.login-content {
  width: 100%;
  max-width: 500px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-container .orion-logo {
  margin-bottom: 14px;
  width: 300px;
}

.login-heading {
  color: #373637;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 32px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  color: #373637;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0;
}

.login-input {
  width: 100%;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  font-family: Inter, sans-serif;
  background-color: #fff;
  border: 1px solid #a0b8d1;
  border-radius: 8px;
  padding: 0 16px 0 42px;
  box-sizing: border-box;
}

.login-input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #57A5EB;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
  opacity: 0.4;
}

input.login-input:-webkit-autofill,
input.login-input:-webkit-autofill:hover,
input.login-input:-webkit-autofill:focus,
input.login-input:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px rgb(255 255 255) inset !important;
  -webkit-text-fill-color: #000 !important;
}

.reset-password {
  color: #a0b8d1 !important;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  align-self: flex-end;
  margin-bottom: 24px;
}

.login-button,
.login-button-disable {
  width: 100%;
  height: 44px;
  background-color: #172235;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 32px;
}

.login-button-disable {
  cursor: not-allowed;
}

.signup-text {
  color: #373637;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: -16px;
}

.signup-link {
  color: #373637;
  font-weight: bold;
  text-decoration: none;
}

.footer-copyright {
  text-align: center;
  margin-top: auto;
}

.footer-copyright p {
  color: #a0b8d1;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}


.dashboard-preview-side {
  flex: 1;
  position: relative;
  background: repeating-linear-gradient(0deg, rgb(255 255 255 / 15%) 0, rgb(255 255 255 / 25%) 1px, transparent 1px, transparent 70px),
    repeating-linear-gradient(90deg, rgb(255 255 255 / 15%) 0, rgb(255 255 255 / 25%) 1px, transparent 1px, transparent 70px),
    radial-gradient(circle at center, #172a4f 0%, #0E1626 100%);
  background-blend-mode: overlay;
  overflow: hidden;
}

.feature-bar {
  align-items: center;
  width: 295px;
  height: 50px;
  padding: 0 10px;
  border-radius: 60px;
  border: 2px solid #57a5eb33;
  background-color: #0e162666;
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  display: flex;
  gap: 10px;
}

.feature-bar .icon-placeholder {
  width: 30px;
  height: 30px;
}

.bar-text {
  color: #fff;
  font-family: Switzer, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.top-center {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.dashboard-visual {
  height: 100vh;
  position: absolute;
  right: 0;
}

.diagonal-features {
  position: absolute;
  top: 15%;
  right: 30%;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.item-1 {
  transform: translate(50px, 0);
}

.item-2 {
  transform: translate(-50px, 0);
}

.item-3 {
  transform: translate(-150px, 0);
}

.item-4 {
  transform: translate(-250px, 0);
}

.bottom-features {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.feature-icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-icon-text .icon-placeholder {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.feature-label {
  color: #0EC9AC;
  font-family: Switzer, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

@media only screen and (width <=943px) {
  .login_box {
    margin: -30vh 20px 0;
    padding: 42px 20px;
    width: 100%;
  }

  .login-form-side {
    flex: 0 0 100vw;
    min-width: 350px;
  }

  .login_background {
    width: 175%;
    height: 175%;
  }
}




