<div class="min-h-screen flex items-center justify-center px-4 sm:px-6 lg:px-8">
    <div
        [ngClass]="getBackgroundClass() + ' ' + getSizeClass() + ' rounded-xl shadow-xl border dark:border-gray-700 bg-white dark:bg-gray-800'">

        <!-- Title -->
        <div class="text-center mb-6" *ngIf="title">
            <h2 [ngClass]="getTitleClass() + ' font-bold text-base text-gray-600 dark:text-gray-300 mb-4'">{{ title }}
            </h2>
            <p [ngClass]="getMessageClass() + ' mt-2 text-gray-600 dark:text-gray-400'" *ngIf="message">{{ message }}
            </p>
        </div>

        <!-- Projected Content -->
        <div>
            <ng-content></ng-content>
        </div>

        <!-- Optional Support / Footer Slot -->
        <div class="text-center text-xs text-gray-500 dark:text-gray-400 mt-6">
            <ng-content select="[support]"></ng-content>
        </div>

    </div>
</div>