<img alt="background" class="app-background app-background-dark img-fluid w-100 h-100 object-fit-cover"
    src="/assets/images/shared/Bg.webp">
<div class="welcome-page-wrapper">
    <div class="welcome-page__card">
        <img src="/assets/images/shared/welcom_icon.svg" alt="Tick">
        <div class="welcome-page__card-heading">{{ heading }}</div>
        <div class="welcome-page__card-paragraph">{{ message }}</div>
        <button (click)="goToLogin()">Go to login</button>
    </div>
</div>