.forgot-container {
  margin-top: -100px;
}

.forgot_error-message {
    color: rgb(255 0 0);
    text-align: left;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.forgot_success-message {
    color: rgb(13 255 0);
    text-align: left;
    font-family: Inter, sans-serif;
    font-weight: 500;
}
